@media screen and (max-width: 480px) {
    .logo {
        max-width:50px;
    }
    .logo-link {
        align-self: flex-start;
    }
    .page-header {
        justify-content: flex-start;
    }
    .nav-button {
        display: block;
    }
    #search button {
        display: none;
        flex
    }
    #search {
        min-width: 50px;
        max-width: 170px;
        flex: 1;
    }
    #search input {
        border-radius: 5px 5px 5px 5px;

    }
    #main {
        order: 3;
        flex-direction: column;
        max-height: 0px;
        overflow: hidden;
        width: 100%;
        transition: max-height 0.5s;
        flex-wrap: nowrap;
    }
    #main.open {
        max-height: 50vh;
    }
    #user-nav a:nth-child(1) {
        display: none;
    }
}