:root {
    --lavender-web: hsla(240, 63%, 91%, 1);
    --african-violet: hsla(272, 40%, 69%, 1);
    --rose-quartz: hsla(300, 7%, 56%, 1);
    --davys-gray: hsla(248, 5%, 30%, 1);
    --raisin-black: hsla(240, 8%, 19%, 1);
    color-scheme: light dark;
}

body {
    background-color:hsl(180, 25%, 25%);
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
    min-height: 100vh;
    display: grid;
    grid-template-rows: auto auto 1fr auto;
}
a {
    font-size: 120%;
}
a:link {
    color:rgb(0, 0, 0);
}
a:visited {
    color:rgb(20, 118, 184);
}
a:hover {
    color:white;
}
a:active {
    color:chartreuse;
}
h1 {
    color:beige;
    background-color:black;
}
img {
    max-width: 100%;
}
.home-image {
    width: 500px;
    margin: auto;
    display: block;
}
.about-image {
    width: 500px;
    margin: auto;
    display: block;
}

/* header for page */
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(174, 173, 230);
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    max-width: 100px;
    min-width: 60px;
    padding: 10px;
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.navigation a {
    color:hsl(0, 0%, 0%);
    text-decoration: none;
    padding-left: 10px;
}

.navigation a:hover {
    color: rgb(133, 214, 108)
}
.nav-button {
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-style: solid;
    border-color: (--raisin-black);
    border-radius: 5px;
    display: none;
}
.nav-button img {
    width: 40px;

}

#search {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    max-width: 100%;
}

#search input {
    padding: 10px;
    border: solid 1px;
    border-radius: 5px 0px 0px 5px;
}

#search button {
    padding: 10px;
    border: solid 1px;
    border-radius: 0px 5px 5px 0px;
}

.sr-only {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}
/*-- carousel -- */
.slide {
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    min-height: 50vh;
    background-color: var(--lavender-web);
    background-size: cover;
    background-position: center;
}
.slide h2 {
    font-size: 3.5em;
    text-shadow: 0px 0px 0px black;
}
.slide button {
    padding: 10px;
    background-color:darkgrey;
    min-width: 300px;
    border: solid 1px var(--raisin-black);
    border-radius: 8px;
}
.slide:nth-child(1) {
    background-image: url(images/slides/Halloween_Banner.jpg);
    color: rgb(orange);
}
nav a {
    text-decoration: none;
}
.main-footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    background-color: rgb(174, 173, 230);
    padding: 20px 30px;
    margin-top: 30px;
}
.footer-nav {
    display: flex;
    flex-direction: column;
}
.footer-nav a {
    color: hsl(0, 0%, 0%);
}
.social-nav {
    display: flex;
    flex-direction: row;
    gap: 20px;
    font-size: 120%;
}
.legal-nav {
    min-width: 100%;
    display: flex;
    flex-direction: row;
    gap: 3em;
}
.card-container {
    display: flex;
    flex-direction: row;
    gap: 1em;
}
.card-container.contact {
    min-width: none;
    flex-wrap: wrap;
}
.card-container.contact.card {
    min-width: 200px
}
.card img {
    max-width: 100%;
}
.card-content{
    padding: 15px;
}
.card {
    flex: 1;
    background-color:rgb(105, 104, 104);
    border: 1px solid;
    border-radius: 10px;
    overflow: hidden;
}
.card button {
    min-width: 100%;
    padding: 12px;
    border: 1px solid;
}
.main-content {
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
}
.banner2 {
    min-height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /*background: linear-gradient( 45deg, red, yellow, green );*/
    background: radial-gradient(circle, brown, yellow );
}
.contact-form {
    display: flex;
    flex-direction: column;
}
.contact-form input {
    margin-bottom: 0.5em;
}
.row {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}
.contact-form button {
    min-width: auto;
}
.contact-details a {
    color: var(--hookers-green);
    font-size: medium;
}