:root {
    --lavender-web: hsla(240, 63%, 91%, 1);
    --african-violet: hsla(272, 40%, 69%, 1);
    --rose-quartz: hsla(300, 7%, 56%, 1);
    --davys-gray: hsla(248, 5%, 30%, 1);
    --raisin-black: hsla(240, 8%, 19%, 1);
    color-scheme: light dark;
}

body {
    background-color:hsl(180, 25%, 25%);
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
a {
    font-size: 120%;
}
a:link {
    color:rgb(0, 0, 0);
}
a:visited {
    color:rgb(20, 118, 184);
}
a:hover {
    color:white;
}
a:active {
    color:chartreuse;
}
h1 {
    color:beige;
    background-color:black;
}
img {
    max-width: 100%;
}
.home-image {
    width: 500px;
    margin: auto;
    display: block;
}
.about-image {
    width: 500px;
    margin: auto;
    display: block;
}

/* header for page */
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(174, 173, 230);
    flex-wrap: wrap;
    padding-left: 15px;
    padding-right: 15px;
}

.logo {
    max-width: 100px;
    min-width: 60px;
    padding: 10px;
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.navigation a {
    color:hsl(169, 10%, 41%);
    text-decoration: none;
    padding-left: 10px;
}

.navigation a:hover {
    color: rgb(133, 214, 108)
}
.nav-button {
    background-color: transparent;
    width: 44px;
    height: 44px;
    border-style: solid;
    border-color: (--raisin-black);
    border-radius: 5px;
    display: none;
}
.nav-button img {
    width: 40px;

}

#search {
    display: flex;
    flex-direction: row;
    min-width: 400px;
    max-width: 100%;
}

#search input {
    padding: 10px;
    border: solid 1px;
    border-radius: 5px 0px 0px 5px;
}

#search button {
    padding: 10px;
    border: solid 1px;
    border-radius: 0px 5px 5px 0px;
}

.sr-only {
position:absolute;
left:-10000px;
top:auto;
width:1px;
height:1px;
overflow:hidden;
}