:root {

}

body {
    background-color:hsl(180, 25%, 25%);
    color:aliceblue;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0px;
}
a {
    font-size: 120%;
}
a:link {
    color:darkkhaki;
}
a:visited {
    color:gold;
}
a:hover {
    color:white;
}
a:active {
    color:chartreuse;
}
h1 {
    color:beige;
    background-color:black;
}
img {
    max-width: 100%;
}
.home-image {
    width: 500px;
    margin: auto;
    display: block;
}
.about-image {
    width: 500px;
    margin: auto;
    display: block;
}

/* header for page */
.page-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(174, 173, 230);
    flex-wrap: wrap;
}

.logo {
    max-width: 100px;
    min-width: 60px;
    padding: 10px;
}
.navigation {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
}
.navigation a {
    color:hsl(169, 10%, 41%);
    text-decoration: none;
    padding-left: 10px;
}